article.future {
  width: 100%;
  height: 100vh;

  font-style: normal;
  font-weight: 400;

  color: #ffffff;
  background-color: #1a1717;

  overflow: hidden;
  animation: slideBG 1.5s ease-in-out;

  & > div.videoBG {
    position: relative;

    display: grid;
    place-items: center;

    margin-top: 8%;
    margin-left: 16%;
    min-height: 60%;

    overflow: hidden;
    animation: slideCDiv 1.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      height: 48%;
      width: 20%;

      background-color: #1a1717;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      height: 52%;
      width: 18%;

      background-color: #1a1717;
      z-index: 1;
    }

    & > video {
      position: relative;

      height: auto;
      max-width: 80%;

      object-fit: cover;
    }
  }

  & > div.text-1 {
    position: absolute;
    top: 14%;
    left: 1.5%;

    width: 38%;
    height: 32%;

    z-index: 3;
    overflow: hidden;
    animation: slideText 1.5s ease-in-out;

    & > h1 {
      font-size: 60px;
    }

    & > p {
      margin-top: 4%;
      margin-left: 10%;
      font-size: 18px;
    }
  }

  & > div.text-2 {
    position: absolute;
    left: 4%;
    bottom: 14%;

    display: flex;
    align-items: center;

    width: 850px;
    height: 70px;
    font-size: 60px;

    z-index: 3;
    overflow: hidden;
    animation: slideText 1.5s ease-in-out;

    & > p {
      width: 190px;
    }

    & > h4 {
      width: 660px;
      border-right: 5px solid red;

      overflow: hidden;
      animation: typewriter 10s steps(45) 1s infinite forwards,
        blinkTextCursor 1s steps(45) infinite normal;
      white-space: nowrap;

      @keyframes typewriter {
        0% {
          width: 660px;
        }
        10% {
          width: 0px;
        }
        100% {
          width: 660px;
        }
      }
      @keyframes blinkTextCursor {
        from {
          border-right-color: red;
        }
        to {
          border-right-color: transparent;
        }
      }
    }
  }

  & > div.text-3 {
    position: absolute;
    right: 14%;
    bottom: 13%;

    width: 20%;
    height: 30%;

    text-align: center;
    color: #fff;

    overflow: hidden;
    z-index: 3;
    animation: slideText 1.5s ease-in-out;

    & > h2 {
      font-size: 170px;
    }

    & > p {
      font-weight: 700;
      font-size: 25px;
    }
  }

  @keyframes slideBG {
    from {
      transform: translateX(-100%);
      opacity: 0%;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  @keyframes slideText {
    from {
      transform: translateY(100%);
      opacity: 0%;
    }
    to {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes slideDiv {
    from {
      transform: translateY(100%);
      opacity: 0%;
    }
    to {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes slideCDiv {
    from {
      transform: translateX(-100%);
      opacity: 0%;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }
}

@media screen and (max-width: 1280px) {
  article.future {
    & > div.videoBG {
      margin-top: 16%;

      &::after {
        width: 15%;
      }
    }

    & > div.text-1 {
      width: 35%;
      height: 25%;

      top: 25%;
      left: 1%;

      & > h1 {
        font-size: 40px;
      }

      & > p {
        margin-left: 2%;
      }
    }

    & > div.text-2 {
      width: 580px;
      bottom: 24%;
      font-size: 40px;

      & > p {
        width: 130px;
      }

      & > h4 {
        width: 450px;

        @keyframes typewriter {
          0% {
            width: 450px;
          }
          10% {
            width: 0px;
          }
          100% {
            width: 450px;
          }
        }
      }
    }

    & > div.text-3 {
      height: 20%;
      right: 11%;
      bottom: 23%;

      & > h2 {
        font-size: 100px;
      }

      & > p {
        font-size: 20px;
      }
    }
  }
}
