@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

article.tickets {
  height: 190vh;
  width: 100%;

  position: relative;

  overflow: hidden;
  background-color: #726b6b;

  & > section {
    width: 20%;
    height: 20%;
    padding: 5px;

    display: grid;
    place-items: center;

    transition: all 0.5s ease-in-out;
    background-color: #b8b4b4;

    position: absolute;
    border-radius: 10px;

    &:nth-child(1) {
      bottom: 17%;
      left: 17.5%;
    }
    &:nth-child(2) {
      top: 20%;
      left: 7%;
    }

    &:nth-child(3) {
      top: 20%;
      left: 37.5%;
    }

    &:nth-child(4) {
      top: 20%;
      right: 7%;
    }

    &:nth-child(5) {
      bottom: 17%;
      right: 17.5%;
    }

    & > * {
      transition: 0.8s;
    }

    & > img {
      position: absolute;
      bottom: 7%;
      width: 80%;

      filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.5));
      z-index: 1;
    }

    & > div {
      padding: 10px;
      position: absolute;
      width: 100%;
      bottom: 0;

      border: 2px solid black;
      border-top: none;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      z-index: 0;

      overflow: hidden;
      line-height: 1.5;
      background-color: #b8b4b4;

      transform: translateY(0%);
      opacity: 0%;

      & > h1 {
        font-size: 30px;
        text-align: center;
      }

      & > p {
        font-size: 18px;
      }
    }

    &:hover {
      & > * {
        transition: 0.8s;
      }

      & > img {
        transform: translateY(-30%);
      }

      & > div {
        transform: translateY(60%);
        opacity: 100%;
      }
    }
  }
  //
  & > form {
    // display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    animation: slideBG 1s linear;

    & > div {
      margin: 15% auto;
      width: 60%;
      height: 30%;
      display: grid;
      grid-template-rows: 20% 80%;
      grid-template-columns: 100%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
        0 7px 20px 0 rgba(0, 0, 0, 0.17);
      animation-name: modalopen;
      animation-duration: var(--modal-duration);
      overflow: hidden;
      animation: slide 3s ease-in-out;

      & > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #ffffff;
        background: var(--modal-color);
        & > span {
          font-size: 40px;
          color: #fff;
          &:hover {
            color: #000000;
            cursor: pointer;
          }
          &:focus {
            color: #000000;
            cursor: pointer;
          }
        }
        & > h2 {
          line-height: 35px;
        }
      }

      & > main {
        padding: 10px 20px;
        font-size: 20px;
        background-color: #ffffff;
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateY(100vh);
      opacity: 0%;
    }
    to {
      transform: translateY(0px);
      opacity: 100%;
    }
  }

  @keyframes slideBG {
    from {
      transform: translateX(-100%);
      opacity: 0%;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1280px) {
  article.tickets {
    & > section {
      width: 25%;

      &:nth-child(1) {
        bottom: 22%;
      }
      &:nth-child(2) {
        top: 18%;
      }

      &:nth-child(3) {
        top: 18%;
      }

      &:nth-child(4) {
        top: 18%;
      }

      &:nth-child(5) {
        bottom: 22%;
      }

      &:hover {
        & > img {
          transform: translateY(-50%);
        }

        & > div {
          transform: translateY(40%);
        }
      }
    }
  }
}
