@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Roboto&display=swap");

:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

article.tickets {
  height: 190vh;
  width: 100%;

  overflow: hidden;
  background-color: #726b6b;

  & > section {
    position: absolute;
    padding: 5px;

    display: grid;
    place-items: center;

    width: 20%;
    height: 20%;
    border-radius: 10px;

    background-color: #b8b4b4;
    transition: all 0.5s ease-in-out;

    &:nth-child(1) {
      bottom: 17%;
      left: 17.5%;
    }
    &:nth-child(2) {
      top: 20%;
      left: 7%;
    }

    &:nth-child(3) {
      top: 20%;
      left: 39.9%;
    }

    &:nth-child(4) {
      top: 20%;
      right: 7%;
    }

    &:nth-child(5) {
      bottom: 17%;
      right: 17.5%;
    }

    & > * {
      transition: 0.8s;
    }

    & > img {
      position: absolute;
      bottom: 7%;

      display: block;
      height: auto;
      width: 80%;

      z-index: 1;
      filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.5));
    }

    & > div {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      width: 99%;

      border: 2px solid black;
      border-top: none;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      z-index: 0;
      overflow: hidden;
      transform: translateY(0%);
      opacity: 0%;

      line-height: 1.5;
      background-color: #b8b4b4;

      & > h1 {
        font-family: "Damion", cursive;
        width: 100%;
        font-size: 3.5vw;
        text-align: center;
      }

      & > p {
        margin: 5px 0 0 15px;
        width: 90%;

        font-family: "Roboto", sans-serif;
        text-align: center;
        font-size: 18px;
      }
    }

    &:hover {
      & > * {
        transition: 0.8s;
      }

      & > img {
        transform: translateY(-30%);
      }

      & > div {
        transform: translateY(60%);
        opacity: 100%;
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateY(100vh);
      opacity: 0%;
    }
    to {
      transform: translateY(0px);
      opacity: 100%;
    }
  }

  @keyframes slideBG {
    from {
      transform: translateX(-100%);
      opacity: 0%;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1280px) {
  article.tickets {
    & > section {
      width: 25%;
      height: 15%;

      &:nth-child(1) {
        bottom: 22%;
      }
      &:nth-child(2) {
        top: 18%;
      }

      &:nth-child(3) {
        top: 18%;
        left: 37%;
      }

      &:nth-child(4) {
        top: 18%;
      }

      &:nth-child(5) {
        bottom: 22%;
      }

      &:hover {
        & > img {
          transform: translateY(-35%);
        }

        & > div {
          transform: translateY(60%);
        }
      }
    }
  }
}
